header {
    position: absolute; 
    top: 1em; 
    padding-left: 2em;
    z-index: 99;
}

header > button > img{
    display: flex; 
    margin-top: 1em;
    width: 4em;
    cursor: pointer;
}

header > button > img:hover {
    width: 4.5em;
}
