header {
    position: absolute; 
    top: 1em; 
    padding-left: 2em;
}

header > button > img{
    position: absolute; 
    width: 4em;
    cursor: pointer;
}

header > button > img:hover {
    width: 4.5em;
}