header {
    position: absolute; 
    top: 1em; 
    padding-left: 2em;
    z-index: 99;
}

header > button > img{
    display: flex; 
    margin-top: 1em;
    width: 4em;
    cursor: pointer;
}

header > button > img:hover {
    width: 4.5em;
}

footer {
    position: absolute;
    bottom: 1em;
    right: 0em;
    padding-right: 6em;
    display: flex;
    align-items: end;
    z-index: 99;
}

footer > button > img{
    position: absolute; 
    bottom: 1em;
    width: 4em; 
}

footer > button > img:hover {
    width: 4.5em;
}

