#tutorial-screen {
    z-index: 2;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#tutorial-bg {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    z-index: -1;
}

#tutorial-content {
    width: 40vw;
    height: 80vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

#tutorial-content h2 {
    text-align: center;
}

.tutorial-details-container {
    display: flex; 
    gap: 2em;
    margin-top: 1em;
    justify-content: center;
}

.tutorial-assets {
    width: 2em;
    height: 2em;
}

.grouped-container {
    display: flex; 
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 15em;
    gap: 1em;
}

#tutorial-next-btn {
    padding-top: 1em;
    display: flex;
    justify-content: right;
}

#tutorial-next-btn:hover {
    text-decoration: underline;
}